main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1vh;
    padding-inline: 1vw;
}

.menuButton {
    position: absolute;
    left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
}

.menuButton:active {
    background-color: var(--secondary-bg);
    scale: 0.9;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}